@model PointsLookup.ViewModel.SearchResultViewModel
@{
    ViewData["Title"] = "LookupPoint";
}

<div class="container p-3">
    @if (Model == null)
    {
        <h2 class="text-center text-danger">không tìm thấy thông tin sinh viên.</h2>
        <div class="text-center">
            <a asp-action="index" class="btn btn-info align-self-center">quay về trang chủ</a>
        </div>
    }
    else
    {
        <table class="table table-bordered table-striped" width="100%">
            <thead>
                <tr>
                    <th>tên</th>
                    <th>ngày sinh</th>
                    <th>điểm toán</th>
                    <th>điểm anh văn</th>
                    <th>điểm văn học</th>
                    <th>điểm hóa học</th>
                    <th>điểm vật lý</th>
                    <th>điểm sinh học</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   
                    <td>@Model.Name</td>
                    <td>@Model.DateOfBirth.ToString("dd/mm/yyyy")</td>
                    <td>@Model.MathScore</td>
                    <td>@Model.EnglishScores</td>
                    <td>@Model.LiteratureScores</td>
                    <td>@Model.ChemiscalScores</td>
                    <td>@Model.PhysicalScores</td>
                    <td>@Model.BiologicalScores</td>
                </tr>

            </tbody>
        </table>
        <div class="text-center">
            <a asp-action="index" class="btn btn-info align-self-center">quay về trang chủ</a>
        </div>
    }
</div>

